body 
{
    background: #9f83bd;
    text-transform: uppercase;
    font-family: 'lucida Sans';
    overflow: hidden;
 

}
.layer
{
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s;
    transform: perspective(800px)scale(1) rotateY(0);

}
nav ul 
{
    padding-left: 60%;
    font-size: larger;
    line-height: 2;
}

nav ul li 
{
    list-style: none;

}
nav ul li a 
{
    text-decoration: none;
    color: #fff;
    

}
.show
{
    background: #fffBc1;

}
h1
{
    font-size: 40px;
    text-align: center;


}

body:hover .show 
{
    transform: perspective(800px)scale(0.5) rotateY(25deg);
}