.text 
{
    width: 200px;
    height: 200px;
    background-color: #ddd;
    color: #222;
    text-align: center;
    margin: auto;
    line-height: 200px;
   
}
P 
{
    font-size: 20px;
    animation:shadow 2s ease-in-out infinite;
}

@keyframes shadow
{
    0% {text-shadow: 5px  2px 3px #f50;}
    50% {text-shadow: -5px 2px 3px #f50;}
    100% {text-shadow: 5px 2px 3px #f50;}
}