.loading 
{
    width: 100px;
    height: 100px;
    margin: 20px auto;
    border: 20px solid #dadada;
    border-radius: 50%;
    border-top: 20px solid #f50; 
    border-right: 20px solid #080; 
    border-bottom: 20px solid #f00; 
    border-left: 20px solid rgb(4, 0, 255); 




    animation: move 2s ease-in-out infinite;

}

@keyframes move 
{
    0% {transform: rotate(0)}
    100% {transform: rotate(360deg)}

    0% {transform: rotate(0)}

    0% {transform: rotate(0)}

}