body 
{
    height: 1000px;

}

/* width */

::-webkit-scrollbar
{
    width: 30px;

}
/* scrollbar-track */
::-webkit-scrollbar-track
{
   background: #f6f6f6; 


}
/* scrollbar-thumb */
::-webkit-scrollbar-thumb 
{
    background: #333;
    border-radius: 10px;

}
/*  */
::-webkit-scrollbar-thumb:hover 
{
    background: #aaa;
}