div 
{
    width: 300px;
    height: 300px;
    border: 2px solid #888;
    position: relative;
}

span
{
    position: absolute;
    display: block;
    transition: all 0.5s ease-in-out;

}

span:nth-of-type(1) 
{
    top: -2px;
    width: 50px;
    height: 2px;
    background: #f50;

}

span:nth-of-type(2) 
{
    bottom: -2px;
    right: 0;
    width: 0;
    height: 2px;
    background: #f50;

}

span:nth-of-type(3) 
{
    left: -2px;
    width: 2px;
    height: 0;
    background: rgb(0, 4, 255);

}

span:nth-of-type(4) 
{
    right: -2px;
    width: 2px;
    height: 0;
    bottom: 0;
    background: rgb(0, 4, 255);

}

div:hover span:nth-of-type(1) ,
div:hover span:nth-of-type(2) 

{
    width: 100%;
}

div:hover span:nth-of-type(3) ,
div:hover span:nth-of-type(4) 


{
   height: 100%;
}
