div
{
    width: 200px;
    height: 150px;
    background: #222;
    margin: 50px auto;
    padding: 15px;
    position: relative;

}
div form
{
   padding: 20px;
   
}
div:before 
{
    content:"";
    display: block;
    width: 0;
    height: 0;
    border-width: 10px;
    border-style: solid;
    border-color:transparent transparent #222 transparent ;
  
    position: absolute;
    top: -20px;
    left: 100px;

}

input[type=text], 
input[type=password]
{
    height: 25px;
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 5px;
    outline: 0;

}

input[type=button]
{
    width: 155px;
    height: 30px;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    transition: all 0.5s ease-in-out;


}

input[type=button]:hover
{
    background-color: #999;
    color: rgb(35, 108, 216);
}